In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("imdb_ratings.xlsx")
df.head()

   Unnamed: 0    titleId                   title  averageRating  numVotes
0           0  tt0000001              Carmencita            5.7      1676
1           1  tt0000002  Le clown et ses chiens            6.1       208
2           2  tt0000003          Pauvre Pierrot            6.5      1404
3           3  tt0000004             Un bon bock            6.2       123
4           4  tt0000005        Blacksmith Scene            6.2      2200

In [4]:
df.shape

(67408, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67408 entries, 0 to 67407
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     67408 non-null  int64
 1   titleId        67408 non-null  object
 2   title          67408 non-null  object
 3   averageRating  67408 non-null  float64
 4   numVotes       67408 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.6+ MB

In [6]:
df.isnull().sum()

Unnamed: 0       0
titleId          0
title            0
averageRating    0
numVotes         0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df_cleaned = df.drop(columns=["Unnamed: 0"])

In [9]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67408 entries, 0 to 67407
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   titleId        67408 non-null  object
 1   title          67408 non-null  object
 2   averageRating  67408 non-null  float64
 3   numVotes       67408 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.1+ MB

In [10]:
df_cleaned.head()

     titleId                   title  averageRating  numVotes
0  tt0000001              Carmencita            5.7      1676
1  tt0000002  Le clown et ses chiens            6.1       208
2  tt0000003          Pauvre Pierrot            6.5      1404
3  tt0000004             Un bon bock            6.2       123
4  tt0000005        Blacksmith Scene            6.2      2200

### Conclusion
The IMDb ratings dataset was analyzed and cleaned using Python.
No missing values or duplicate records were found.
An unnecessary index column was removed, and the dataset was validated.
The final dataset is clean, consistent, and ready for analysis.